<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a class="border rounded list-group-item clearfix text-bg-light p-3" style="cursor: pointer;" routerLink="addsmoothie">
                <span class="text-center">
                    <img src="assets/images/add-icon-png-2459.png" alt="Add Smoothie" class="img-responsive rounded mx-auto d-block" style="max-height: 50px;">
                    <p class="list-group-item-heading">Add Smoothie</p>
                </span>                
            </a>
        </div>
        <div class="col-md-2">
            <a class="border rounded list-group-item clearfix text-bg-light p-3" style="cursor: pointer;" routerLink="updatesmoothie">
                <span class="text-center">
                    <img src="assets/images/Update-Button-PNG-HD-Image.png" alt="Add Smoothie" class="img-responsive rounded mx-auto d-block" style="max-height: 50px;">
                    <p class="list-group-item-heading">Update Smoothie</p>
                </span>                
            </a>
        </div>
        <div class="col-md-2">
            <a class="border rounded list-group-item clearfix text-bg-light p-3" style="cursor: pointer;" routerLink="deletesmoothie">
                <span class="text-center">
                    <img src="assets/images/delete-309164_1280.png" alt="Add Smoothie" class="img-responsive rounded mx-auto d-block" style="max-height: 50px;">
                    <p class="list-group-item-heading">Delete Smoothie</p>
                </span>                
            </a>
        </div>
    </div>
</div>
